@charset 'utf-8';


/* ==================== 1. FUNCTIONS ==================== */

@import 'bootstrap/functions';



/* ==================== 2. DEFAULT VARIABLE ==================== */

$dark: #111;
$light: #F5F0EC;
$success: #1B5B31;

$font-family-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-montserrat: 'Montserrat', $font-family-sans-serif;

$headings-font-weight: 500;

$dropdown-font-size: .875rem;
$caret-width: 0;

$btn-padding-y: .75rem;
$btn-padding-x:  1.5rem;

$navbar-padding-y: 1.1rem;
$navbar-nav-link-padding-x: 1.5rem;
$nav-link-height: 1rem;

$carousel-control-color: $dark;
$carousel-control-width: 96px;
$carousel-control-opacity: 1;



/* ==================== 3. REQUIRED BOOTSTRAP STYLESHEETS ==================== */

@import 'bootstrap/variables';
@import 'bootstrap/variables-dark';



/* ==================== 4. DEFAULT MAP OVERRIDES ==================== */

$lead-font-size:  $font-size-base * .75;
$lead-font-weight: 400;

// add  new color
$beige: (
    "beige": #DCC1AB
);

$theme-colors: map-merge($theme-colors, $beige);

// remove not used color
$theme-colors: map-remove($theme-colors, "info", "primary", "warning", "secondary");



/* ==================== 5. REMAINDER OF REQUIRED PARTS ==================== */
@import 'bootstrap/maps';
@import 'bootstrap/mixins';
@import 'bootstrap/root';


/* ==================== 6. OPTIONALLY INCLUDE ANY OTHER PARTS AS NEEDED ==================== */
@import 'bootstrap/utilities';
@import 'bootstrap/reboot';
@import 'bootstrap/type';
@import 'bootstrap/images';
@import 'bootstrap/containers';
@import 'bootstrap/grid';
@import 'bootstrap/helpers';


/* ==================== 7. UTILITIES API ==================== */
@import 'bootstrap/utilities/api';



/* ==================== 8. CUSTOM CODE ==================== */

@import 'bootstrap/close';
@import 'bootstrap/buttons';
@import 'bootstrap/dropdown';
@import 'bootstrap/offcanvas';
@import 'bootstrap/nav';
@import 'bootstrap/navbar';
@import 'bootstrap/containers';
@import 'bootstrap/card';
@import 'bootstrap/modal';
@import 'bootstrap/forms/form-control';
@import 'bootstrap/carousel';




// add new font family class

.font-montserrat {
    font-family: $font-montserrat;
}



/* ==================== 8.1 PLUGINS ==================== */

@import url(../vendor/aos/aos.css);




/* ==================== 8.2 COMPONENTS ==================== */

@import 'components/typography';
@import 'components/container';
@import 'components/card';
@import 'components/carousel';
@import 'components/dropdown';
@import 'components/loader';


/* ==================== 8.3 BLOCKS ==================== */

@import 'blocks/navbar';
@import 'blocks/section';
@import 'blocks/offer';
@import 'blocks/about';
@import 'blocks/projects';
@import 'blocks/contact';
@import 'blocks/footer';
