.dropdown {
    &-toggle {
        svg {
            will-change: transform;
            transition: transform .3s ease;
        }

        &.show svg {
            transform: rotate(-180deg);
        }
    }
}
