.intro {
    min-height: 737px;

    &-pict {
        position: absolute;
        top: 0;
        right: 0;
        width: 47.5%;
        height: 100%;
        object-fit: cover;
    }

    &-text {
        max-width: 490px;
        margin-bottom: 4.5rem;
    }

    &-buttons {
        column-gap: 2.25rem;
        row-gap: 1rem;
    }

    @media (max-width: 1200px) {
        &-text {
            margin-bottom: 2.5rem;
        }
    }

    @media (max-width: 991px) {
        & {
            min-height: 1px;
        }

        &-content {
            padding-block: 80px;
        }
    }
}








.intro-2 {
    min-height: 720px;

    .intro-pict {
        right: auto;
        left: 0;
        width: 47.5%;
    }

    @media (max-width: 991px) {
        & {
            min-height: 1px;
        }
    }
}
