.offer {
    &-container {
        padding-top: 120px;
        padding-bottom: 136px;
    }

    &-head {
        max-width: 1040px;
        margin-bottom: 5.9rem;
    }

    &-text {
        max-width: 710px;
        letter-spacing: -.01rem;
    }

    @media (min-width: 992px) {
        &-card {
            max-width: 378px;
            min-height: 370px;
        }
    }

    @media (max-width: 991px) {
        &-container {
            padding-top: 80px;
            padding-bottom: 56px;
        }

        &-head {
            margin-bottom: 3rem;
        }
    }
}
