.font-montserrat {
  font-family: $font-montserrat;
}


.container {
  max-width: 1326px;
  padding-inline: 32px;

  @media (max-width: 767px) {
    & {
      max-width: 1294px;
      padding-inline: 16px;
    }
  }
}



h1,
.title-h1 {
  font-size: 3.75rem;
  line-height: 1.17;
  margin-bottom: 2.7rem;

  @media (max-width: 1200px) {
    & {
      font-size: 3rem;
      margin-bottom: 2.5rem;
    }
  }
}


h2,
.title-h2 {
  font-size: 3rem;
  line-height: 1.15;
  margin-bottom: 2rem;

  span {
    letter-spacing: -.1rem;
  }
}


h3,
.title-h3 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;

  span {
    letter-spacing: -.1rem;
  }
}
